@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: orange;
    --secundary-color: #000;
    --hover-color: #272727;

    --primary-font: "Pacifico", sans-serif;
    --secundary-font: "Montserrat", sans-serif;
}

body {
    display: flex;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;

}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;

}

.header__home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;

}

.header__title {

    padding: 2% 0 0 0;
    font-size: 80px;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 400;
    font-style: normal;

}

.main__home {
    padding: 5% 5% 5% 5%;
    position: relative;
    width: 95%;
    height: 80%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main__home__section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.main__home__section__title {
    font-size: 40px;
    width: 50%;
    color: var(--secundary-color);
}

.main__home__sextion__strong {
    font-size: 46px;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 400;
    font-style: normal;
}

.main__home__section__text {
    font-size: 36px;
    width: 70%;
    color: var(--secundary-color);
}

.main__home__recips {
    padding: 5% 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    gap: 30px;
}

.main__home__recips__title {
    text-decoration: none;
    color: var(--secundary-color);
    font-size: 34px;
}

.main__home__recips__frango {
    width: 350px;
}

.main__home__recips__feijao {
    width: 350px;
}

.main__home__recips__arroz {
    width: 350px;
}

.footer__home {

    background-color: #FFBF78;
    position: relative;
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.footer__home__links {
    display: flex;
    align-items: center;
    gap: 20px;

}

.footer__home__links__insta {
    mix-blend-mode: multiply;
    width: 80px;
    height: auto;
    background-color: #FFBF78;
    padding: 5;
    border-radius: 8px;
}

.footer__home__links__youtube {
    mix-blend-mode: multiply;
    width: 80px;
    height: auto;
    background-color: #FFBF78;
    padding: 5;
    border-radius: 8px;
}

.footer__home__links__tiktok {
    mix-blend-mode: multiply;
    width: 80px;
    height: auto;
    background-color: #FFBF78;
    padding: 5;
    border-radius: 8px;
}

.footer__home__links__social {
    font-size: 28px;
    text-decoration: none;
    color: var(--secundary-color);
}